html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    /*min-height: 680px;*/
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 1s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


.timer {
    padding-left: 20px;
}

.modal {
    display: none;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    width: 32%;
}

.modal-content h1 {
    font-weight: 600;
    padding: 0% 5%;
    text-align: center;
}

.modal-content h2 {
    text-align: center;
    font-weight: 300;
}

.play-again {
    text-align: center;
    font-weight: 700;
    font-size: 130%;
    cursor: pointer;
    border: 1px black;
    background: #d1d6c5;
    padding: 2% 5%;
    width: 35%;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}


@media screen and (max-width: 800px) {
  .modal-content {
    width: 40%;
  }
}


@media screen and (max-width: 650px) {
  .deck {
      width: 80%;
      padding: 5%;
      height: 80%;
      justify-content: space-between;
  }

  .deck .card {
      width: 22%;
      padding-top: 30%;
      height: 10%;
      margin-bottom: 10%;
      cursor: pointer;
  }

  .score-panel {
      width: 80%;
  }

  .deck .card.show {
      font-size: 16px;
      cursor: default;
      height: 10%;
      padding-top: 30%;
      margin-bottom: 10%;
  }

  .card i {
    transform: translate(0%, -150%);
  }

  .deck .card.open {
      padding-top: 23%;
      padding-bottom: 0%;
  }

  .deck .card.match {
      cursor: default;
      background: #02ccba;
      font-size: 16px;
      padding-top: 24%;
      padding-bottom: 0%;
  }

  .modal-content {
    width: 100%;
  }
}



.flip {
  transform: rotateY(180deg);
}
